@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">RVAS PROJEKAT</h1>
    <p>SingalR Chat aplikacija</p>
    <p>
        Da bi ste koristili aplikaciju potrebno je da napravite nalog i udjete ili kreirate chat sobu.
        <br />
        Tu se mozete dopisivati sa ostalim clanovima chat sobe
    </p>
</div>
