@model rvas_projekat.Models.ChatSoba
 
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h1>Dobrodosli u chat sobu</h1>
 
<div>
    <h4>Chat soba</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.naziv_sobe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.naziv_sobe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Lista soba</a>
</div>