@model IEnumerable<rvas_projekat.Models.ChatSoba>
 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h1>Index</h1>
 
<p>
    <a asp-action="Create">Napravi novu chat sobu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Naziv sobe
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naziv_sobe)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Pristupi sobi</a>
            </td>
        </tr>
}
    </tbody>
</table>